{% extends 'shared/base.html' %} {% load static %} {% block content %}

<style>
  .hidden {
    display: none;
  }
</style>

{% if messages %} {% for message in messages %}
<section class="alert {{message.tags}}" style="margin-top: 80px">
  {{message}}
</section>
{% endfor %} {% endif %}

<img
  class="banner__imagem"
  src="{% static 'assets/images/capa.png' %}"
  alt="My image"
/>
<br />
<br />
<hr class="divisor" />

<div class="contador_format" id="contador"></div>

<hr class="divisor" />

<p class="p_formatada" style="font-size: 18px">
  É com grande alegria que lhes convidamos para nosso chá de casa nova.
  Ficaremos muito felizes com a sua presença! Será no dia <b>23/03/2024</b> às
  <b>16:00h</b><br />Pedimos a gentileza que leve um prato salgado e um
  refrigerante de sua preferência e venha se divertir com a gente!
</p>

<form method="post" action="{% url 'confirmacao' %}">
  {% csrf_token %}
  <h2>Confirmação de presença</h2>
  <ul>
    <li class="item">
      <input
        type="checkbox"
        id="checkbox1"
        onchange="mostrarFormularioPresente()"
      />
      <label for="checkbox1" class="style-label"
        >Sim, estarei presente 😊</label
      >
    </li>
    <li class="item">
      <input
        type="checkbox"
        id="checkbox2"
        onchange="mostrarFormularioAusente()"
      />
      <label for="checkbox2" class="style-label"
        >Não, infelizmente não poderei ir ☹️</label
      >
    </li>
  </ul>

  <div id="formularioQuantidadePessoas" style="display: none">
    <h3>
      Envie NOMES e RG's de seus acompanhantes para o número (11) 94302-8521
      para liberação na portaria do Condomínio
    </h3>

    <label for="nomePresente">Insira seu nome:</label>
    <input
      type="text"
      id="nomePresente"
      name="nomePresente"
      placeholder="Ex.: Ana Carolina"
      class="form-control"
    />

    <label for="rgPresente">Insira seu RG:</label>
    <input
      type="number"
      id="rgPresente"
      name="rgPresente"
      placeholder="Digite seu RG"
      class="form-control"
      style="margin-bottom: 10px"
    />
  </div>

  <div id="formularioInfoPessoais" style="display: none">
    <label for="nomeAusente"
      >Insira seu nome para concluirmos a confirmação:</label
    >
    <input
      type="text"
      id="nomeAusente"
      name="nomeAusente"
      placeholder="Ex.: Ana Carolina"
      class="form-control"
    />

    <label for="rg">Insira seu RG para nosso controle:</label>
    <input
      type="number"
      id="rg"
      name="rgAusente"
      placeholder="Digite seu RG"
      class="form-control"
      style="margin-bottom: 10px"
    />
    <button
      type="submit"
      class="btn btn-outline-secondary col-12"
      style="margin-bottom: 10px"
    >
      Concluir
    </button>
  </div>

<div id="listaItens" style="display: none">
  {% if not convidado_confirmado %}
  <h2>Lista de Presentes<h2>
  <h5>Área de Serviço</h5>
  <ul>
   
      <li><input type="checkbox" id="item1" name="area_servico[]" value="vassoura" disabled class="disabled-item" {% if 'vassoura' in cada_presente %} checked {% endif %}> <label for="item1">Vassoura</label></li>
      <li><input type="checkbox" id="item2" name="area_servico[]" value="rodo" disabled class="disabled-item" {% if 'rodo' in cada_presente %} checked {% endif %}> <label for="item2">Rodo</label></li>
      <li><input type="checkbox" id="item3" name="area_servico[]" value="pá" disabled class="disabled-item" {% if 'pá' in cada_presente %} checked {% endif %}> <label for="item3">Pá</label></li>
      <li><input type="checkbox" id="item4" name="area_servico[]" value="pano de limpeza" disabled class="disabled-item" {% if 'pano de limpeza' in cada_presente %} checked {% endif %}> <label for="item4">Pano de Limpeza</label></li>
      <li><input type="checkbox" id="item5" name="area_servico[]" value="escova de limpeza" disabled class="disabled-item" {% if 'escova de limpeza' in cada_presente %} checked {% endif %}> <label for="item5">Escova de Limpeza</label></li>
      <li><input type="checkbox" id="item6" name="area_servico[]" value="pregador de roupa" disabled class="disabled-item" {% if 'pregador de roupa' in cada_presente %} checked {% endif %}> <label for="item6">Pregador de Roupa</label></li>
      <li><input type="checkbox" id="item7" name="area_servico[]" value="varal de chão" disabled class="disabled-item" {% if 'varal de chão' in cada_presente %} checked {% endif %}> <label for="item7">Varal de Chão</label></li>
      <li><input type="checkbox" id="item8" name="area_servico[]" value="balde" disabled class="disabled-item" {% if 'balde' in cada_presente %} checked {% endif %}> <label for="item8">Balde</label></li>
  </ul>
  
  <h5>Banheiro</h5>
  <ul>
      <li><input type="checkbox" id="item9" name="banheiro[]" value="toalha de banho" disabled class="disabled-item" {% if 'toalha de banho' in cada_presente %} checked {% endif %}> <label for="item9">Toalha de Banho</label></li>
      <li><input type="checkbox" id="item10" name="banheiro[]" value="toalha de rosto" disabled class="disabled-item" {% if 'toalha de rosto' in cada_presente %} checked {% endif %}> <label for="item10">Toalha de Rosto</label></li>
      <li><input type="checkbox" id="item11" name="banheiro[]" value="toalha de piso" disabled class="disabled-item" {% if 'toalha de piso' in cada_presente %} checked {% endif %}> <label for="item11">Toalha de Piso</label></li>
      <li><input type="checkbox" id="item12" name="banheiro[]" value="lixeira para banheiro" disabled class="disabled-item" {% if 'lixeira para banheiro' in cada_presente %} checked {% endif %}> <label for="item12">Lixeira para Banheiro</label></li>
      <li><input type="checkbox" id="item13" name="banheiro[]" value="escova sanitária" disabled class="disabled-item" {% if 'escova sanitária' in cada_presente %} checked {% endif %}> <label for="item13">Escova Sanitária</label></li>
      <li><input type="checkbox" id="item14" name="banheiro[]" value="tapetes" disabled class="disabled-item" {% if 'tapetes' in cada_presente %} checked {% endif %}> <label for="item14">Tapetes</label></li>
  </ul>

  <h5>Quarto</h5>
  <ul>
      <li><input type="checkbox" id="item15" name="quarto[]" value="cabides" disabled class="disabled-item" {% if 'cabides' in cada_presente %} checked {% endif %}> <label for="item15">Cabides</label></li>
      <li><input type="checkbox" id="item16" name="quarto[]" value="jogo de lençol (cama casal padrão - 1,88 x 1,38)" disabled class="disabled-item" {% if 'jogo de lençol (cama casal padrão - 1,88 x 1,38)' in cada_presente %} checked {% endif %}> <label for="item16">Jogo de Lençol (Cama Casal Padrão - 1,88 x 1,38)</label></li>
      <li><input type="checkbox" id="item17" name="quarto[]" value="coberta" disabled class="disabled-item" {% if 'coberta' in cada_presente %} checked {% endif %}> <label for="item17">Coberta</label></li>
      <li><input type="checkbox" id="item18" name="quarto[]" value="colcha" disabled class="disabled-item" {% if 'colcha' in cada_presente %} checked {% endif %}> <label for="item18">Colcha</label></li>
      <li><input type="checkbox" id="item19" name="quarto[]" value="fronhas" disabled class="disabled-item" {% if 'fronhas' in cada_presente %} checked {% endif %}> <label for="item19">Fronhas</label></li>
  </ul>

  <h5>Cozinha</h5>
  <ul>
      <li><input type="checkbox" id="item20" name="cozinha[]" value="espremedor de batata" disabled class="disabled-item" {% if 'espremedor de batata' in cada_presente %} checked {% endif %}> <label for="item20">Espremedor de Batata</label></li>
      <li><input type="checkbox" id="item21" name="cozinha[]" value="potes herméticos" disabled class="disabled-item" {% if 'potes herméticos' in cada_presente %} checked {% endif %}> <label for="item21">Potes Herméticos</label></li>
      <li><input type="checkbox" id="item22" name="cozinha[]" value="descanso de panela" disabled class="disabled-item" {% if 'descanso de panela' in cada_presente %} checked {% endif %}> <label for="item22">Descanso de Panela</label></li>
      <li><input type="checkbox" id="item23" name="cozinha[]" value="copo de medida" disabled class="disabled-item" {% if 'copo de medida' in cada_presente %} checked {% endif %}> <label for="item23">Copo de Medida</label></li>
      <li><input type="checkbox" id="item24" name="cozinha[]" value="assadeiras" disabled class="disabled-item" {% if 'assadeiras' in cada_presente %} checked {% endif %}> <label for="item24">Assadeiras</label></li>
      <li><input type="checkbox" id="item25" name="cozinha[]" value="pratos" disabled class="disabled-item" {% if 'pratos' in cada_presente %} checked {% endif %} <label for="item25">Pratos</label></li>
      <li><input type="checkbox" id="item26" name="cozinha[]" value="escorredor de massa" disabled class="disabled-item" {% if 'escorredor de massa' in cada_presente %} checked {% endif %}> <label for="item26">Escorredor de Massa</label></li>
      <li><input type="checkbox" id="item27" name="cozinha[]" value="escorredor de louças" disabled class="disabled-item" {% if 'escorredor de louças' in cada_presente %} checked {% endif %}> <label for="item27">Escorredor de Louças</label></li>
      <li><input type="checkbox" id="item28" name="cozinha[]" value="peneira média" disabled class="disabled-item" {% if 'peneira média' in cada_presente %} checked {% endif %}> <label for="item28">Peneira Média</label></li>
      <li><input type="checkbox" id="item29" name="cozinha[]" value="pano de prato"disabled class="disabled-item" {% if 'pano de prato' in cada_presente %} checked {% endif %}> <label for="item29">Pano de Prato</label></li>
      <li><input type="checkbox" id="item30" name="cozinha[]" value="pano de pia" disabled class="disabled-item" {% if 'pano de pia' in cada_presente %} checked {% endif %}> <label for="item30">Pano de Pia</label></li>
      <li><input type="checkbox" id="item31" name="cozinha[]" value="saleiro" disabled class="disabled-item" {% if 'saleiro' in cada_presente %} checked {% endif %}> <label for="item31">Saleiro</label></li>
      <li><input type="checkbox" id="item32" name="cozinha[]" value="luva termica" disabled class="disabled-item" {% if 'luva termica' in cada_presente %} checked {% endif %} <label for="item32">Luva Térmica</label></li>
      <li><input type="checkbox" id="item33" name="cozinha[]" value="jogo americano" disabled class="disabled-item" {% if 'jogo americano' in cada_presente %} checked {% endif %}> <label for="item33">Jogo Americano</label></li>
      <li><input type="checkbox" id="item34" name="cozinha[]" value="rodinho de pia" disabled class="disabled-item" {% if 'rodinho de pia' in cada_presente %} checked {% endif %}> <label for="item34">Rodinho de Pia</label></li>
      <li><input type="checkbox" id="item35" name="cozinha[]" value="jogo de talheres" disabled class="disabled-item" {% if 'jogo de talheres' in cada_presente %} checked {% endif %}> <label for="item35">Jogo de Talheres</label></li>
      <li><input type="checkbox" id="item36" name="cozinha[]" value="boleira" disabled class="disabled-item" {% if 'boleira' in cada_presente %} checked {% endif %}> <label for="item36">Boleira</label></li>
      <li><input type="checkbox" id="item37" name="cozinha[]" value="tábua de frios" disabled class="disabled-item" {% if 'tábua de frios' in cada_presente %} checked {% endif %}> <label for="item37">Tábua de Frios</label></li>
      <li><input type="checkbox" id="item38" name="cozinha[]" value="forma de bolo redonda" disabled class="disabled-item" {% if 'forma de bolo redonda' in cada_presente %} checked {% endif %}> <label for="item38">Forma de Bolo Redonda</label></li>
  </ul>
  <h5>Outros</h5>
  <ul>
      <input type="checkbox" id="item39" name="quarto[]" value="outros" disabled class="disabled-item" {% if 'outros' in cada_presente %} checked {% endif %}> <label for="item39">Outros</label>
  </ul>
  <button
  id="btn_conclusao"
  name="btn_conclusao"
  type="submit"
  class="btn btn-outline-primary col-12"
  style="margin-bottom: 10px"
  style="margin: 10px"
>
  Concluir Confirmação
</button>
{% endif %}
</div>
</form>


<script>
  // Função para mostrar ou ocultar o formulário listaItens
  function mostrarListaItens() {
    var nomePresente = document.getElementById("nomePresente");
    var rgPresente = document.getElementById("rgPresente");
    var listaItens = document.getElementById("listaItens");
  
    // Verifica se ambos os campos estão preenchidos
    if (nomePresente.value.trim() !== "" && rgPresente.value.trim() !== "") {
      // Habilita a lista de itens
      listaItens.style.display = "block";
      // Habilita os checkboxes dentro da lista de itens
      var checkboxes = listaItens.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
        checkbox.disabled = false;
      });
    } else {
      // Desativa a lista de itens
      listaItens.style.display = "none";
      // Desativa os checkboxes dentro da lista de itens
      var checkboxes = listaItens.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
        checkbox.disabled = true;
      });
    }
  }
  
  // Adiciona event listeners para os campos nomePresente e rgPresente
  document.addEventListener("DOMContentLoaded", function() {
    var nomePresente = document.getElementById("nomePresente");
    var rgPresente = document.getElementById("rgPresente");

    nomePresente.addEventListener("input", mostrarListaItens);
    rgPresente.addEventListener("input", mostrarListaItens);

    // Executa a função ao carregar a página para garantir que a lista de itens seja inicialmente ocultada se os campos estiverem vazios
    mostrarListaItens();
  });

</script>


<style>
 // Remover ou ocultar os itens selecionados da lista HTML
for (const item_id of all_values_list) {
  if (item_id !== 'outros') {
      // Desabilitar o item selecionado
      const item = document.getElementById(item_id);
      if (item) {
          item.disabled = true;
      }
  }
}

</style>

<script src="{% static 'users/js/mostrarOcultarQtdPessoas.js' %}"></script>

{% endblock %}
